
.nav123{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: black;
    min-height: 100px;
    align-items: center;
    /*margin-top: 20px;
    margin-bottom: 20px;*/

}
a{
    padding: 15px;
   
    text-decoration: none;
    color: white;
    border-style:  solid;
    border-radius: 10px;
}